body {
    background-color: black;
    color: white;

}

:root {
    --a: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.left {
    width: 25vw;
    padding: 10px;
}


.home {
    /* padding: 10px; */
}

.home ul li {
    gap: 15px;
    display: flex;
    width: 15px;
    list-style: none;
    padding-top: 14px;
}

.heading {
    gap: 15px;
    display: flex;
    width: 100%;
    list-style: none;
    padding-top: 14px;
    font-size: 12px;
    align-items: center;

}

.library {
    min-height: 80vh;
    position: relative;

}

.footer {
    display: flex;

    font-size: 12px;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.nav img {
    height: 24px;
    width: 24px;
}

.header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(65 60 64);
    align-items: center;
}

.header>* {
    padding: 17px;
}

.right {
    width: 75vw;
    margin: 16px 0px;
    background-color: #1f1c1c;
}


.spotify-playlist {
    padding: 6px;

}

.spotify-playlist h1 {
    padding: 12px;

}


.cardcontanair {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow-y: auto;

}

.card {
    width: 200px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(58 47 47);
    position: relative;
    transition: all .9s;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(89, 84, 84);
    --a: 1;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card>* {
    padding-top: 10px;
}

.play {
    height: 62px;
    width: 60px;
    position: absolute;
    bottom: 115px;
    /* top: 146px; */
    right: 10px;
    opacity: var(--a);
    transition: all 1s ease-out;

}

.buttons>* {
    margin: 0px 12px;
}

.signup-btn {
    background-color: rgb(65 60 64);
    color: #d6c8c8;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn:hover {
    font-size: 17px;
    color: white;
}

.login-btn {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 11px;
    border-radius: 23px;
    width: 84px;
    cursor: pointer;
}

.login-btn:hover {


    padding: 12px;

    width: 85px;

}

.right {
    position: relative;

}

.playbar {
    min-height: 32px;
    position: fixed;
    bottom: 25px;
    background-color: rgb(60, 62, 60);
    width: 71vw;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-buttons {
    display: flex;
    /* align-items: center; */
    height: 35px;
    justify-content: center;
    gap: 21px;
    filter: invert(1);
}

.timevol {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    gap: 12px;

}

.range input {
    cursor: pointer;
}

.volume {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.songinfo {
    width: 400px;
    display: flex;
    justify-content: center;
}

.songtime {
    width: 100px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}


.songlist ul {
    padding: 0 8px;
}

.songlist ul li img {
    filter: invert(1);

    height: 38px;
}

.songlist ul li {
    font-size: 13px;
    list-style-type: decimal;
    display: flex;
    gap: 14px;
    cursor: pointer;
    margin: 15px 0px;
    border: 1px solid white;
    justify-content: space-between;
    padding: 13px;
    border-radius: 6px;

}


.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 13px;
    width: 65px;
    padding: 7px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.seekbar {
    position: absolute;
    bottom: 2px;
    height: 4px;
    width: 98%;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 13px 0;
    align-items: center;
    gap: 52px;
}

.hameburger {
    display: none;
    height: 34px;
    width: 34px;
}

.hameburgercont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.close {
    display: none;
}


@media (max-width:1370px) {


    .songinfo,
    .songtime {

        width: auto;
    }

    .left .close {
        position: absolute;
        right: 33px;
        top: 28px;
    }

    .close {
        display: block;
    }

    .hameburger {
        display: block;
    }

    .left {

        position: absolute;
        transition: all .3s;
        left: -133%;
        z-index: 1;
        width: 372px;
        background-color: black;
        padding: 0;
        height: 100vh;


    }

    .right {
        width: 100vw;

    }



    .playbar {
        width: calc(100vw - 78px);
        /* position: relative; */
        border-radius: 20px;
        right: 29px;

    }

    .seekbar {
        width: calc(100vw - 83px);
        bottom: 8px;
    }

    .card {
        width: 45vw;
    }

    .cardcontanair {
        margin: 0px;
        justify-content: center;
    }

    .right {
        margin: 0;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 12px;
        flex-direction: column;
    }


    .cardcontanair {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 34vh;
    }


    .left {
        position: fixed;
        top: 0;
    }
}

@media (max-width:630px) {
    .card {
        width: 100%;
    }

    .header {
        padding: 6px;
    }

    .left {
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .playbar {
        overflow-wrap: anywhere;
    }
}

@media (max-width:400px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }



    .spotify-playlist h1 {
        padding: 6px;
    }


    .playbar {
        right: 28px;
    }
}